
    <form action="/admin/cadastrar/save" method="post" class="registroStyle">
    
        <div class="formProducts">

        <div>
            <input class="forms" type="text" name="nome" placeholder="Nome do adm" required>
        </div>
     
         
        <div>
           
            <input class="forms" type="password" name="senha" id="senha" required placeholder="senha">
        </div>
         <div>
           
            <input class="forms" type="password" name="senhaConfirmada" id="senhaConfirmada" required placeholder="Confirme a senha">
        </div>
        <input id="submitButton" class="registroButton" type="submit" value="Cadastrar">
        </div>
         </div>
    </form>
    <script src="/js/script.js"></script>
