 <main>
    <div class="menu-painel">
        <div class="menu-item">
            <a href="/produtos/lista-producao">
                <img src="/img/verproducao.png" alt="VerProdução">
                <span>Ver Produção</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/funcionarios/lista">
                <img src="/img/listafuncionarios.png" width="200px" alt="ListaFuncionários">
                <span>Funcionários</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/produtos/registro">
                <img src="/img/cadastro.png" alt="Registro">
                <span>Inserir produção</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/funcionarios/cadastro">
                <img src="/img/funcionarios.png" alt="CadastroFuncionario">
                <span>Cadastrar funcionário</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/relatorio">
                <img src="/img/relatorio.png" alt="Relatório">
                <span>Relatório de vendas</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/tarefas">
                <img src="/img/tarefas.png" alt="Tarefas">
                <span>Painel de Tarefas</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/manutencao">
                <img src="/img/manutencao.png" alt="Manunteção">
                <span>Manutenção</span>
            </a>
        </div>
    </div>
</main>