
    <form action="/produtos/registro/save" method="post" class="registroStyle">
    
        <div class="formProducts">
    <label for="product" id="productLabel">Selecione um produto</label>
    <select name="product" id="product" required class="selectStyle">
        <option value="Bastão 3D">Bastão 3D</option>
        <option value="Setas">Setas</option>
        <option value="Arco ">Arco</option>
        <option value="Plataforma Neon ">Plataforma Neon</option>
        <option value="Plataforma Neon Letreiro ">Plataforma Neon + Letreiro</option>
        <option value="Plataforma MDF ">Plataforma MDF</option>
        <option value="Plataforma Listrada ">Plataforma Listrada</option>
        <option value="Túnel ">Túnel led infinity</option>
        <option value="Cabine personalizada ">Cabine personalizada</option>
        <option value="Arco-seta ">Arco-seta</option>
        <option value="Z-lampada">Lâmpada Z</option>
    </select>
        </div>
        <div id="dateContainer">
        <div>
            <input class="forms" type="text" name="name" placeholder="Nome do produtor" required>
        </div>
         <div>
            <input class="forms" type="number" name="quant" placeholder="Quantidade" required>
        </div>
        <div>
           
            <input class="forms" type="date" name="date" id="date" required>
        </div>
        <input id="submitButton" class="registroButton" type="submit" value="Cadastrar">
        </div>
    </form>
    <script src="/js/script.js"></script>
