<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro de Funcionarios</title>
</head>
<body>
    <header class="headerInicial" id="myHeader">
        <nav>
            <ul>
                <li class="list liFormatation"><a href="http://localhost:3000">Inicio</a></li>
                
            </ul>
        </nav>
    </header>
    <form  class="formStyle " action="/funcionarios/save" method="POST">
        <div id="labelDiv">
            <input class="forms marginTop" type="text" name="name" placeholder="Digite o nome do funcionário">
        </div>
        <input id="submitButton" type="submit"  value="Cadastrar Funcionário">
    </form>
    <script src="/js/script.js"></script>
</body>
</html>