<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <header class="headerInicial" id="myHeader">
        <nav>
            <ul>
                <li class="list liFormatation"><a href="http://localhost:3000">Inicio</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
    <div class="menu-painel">
        <div class="menu-item">
            <a href="/producao">
                <img src="/img/verproducao.png" alt="VerProdução">
                <span>Ver Produção</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/funcionarios/lista">
                <img src="/img/listafuncionarios.png" width="200px" alt="ListaFuncionários">
                <span>Funcionários</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/registro">
                <img src="/img/cadastro.png" alt="Registro">
                <span>Inserir venda</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/funcionarios/cadastro">
                <img src="/img/funcionarios.png" alt="VerProdução">
                <span>Cadastrar funcionário</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/relatorio">
                <img src="/img/relatorio.png" alt="VerProdução">
                <span>Relatório de vendas</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/tarefas">
                <img src="/img/tarefas.png" alt="VerProdução">
                <span>Painel de Tarefas</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/tarefas">
                <img src="/img/tarefas.png" alt="VerProdução">
                <span>Painel de Tarefas</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/manutencao">
                <img src="/img/manutencao.png" alt="VerProdução">
                <span>Manutenção</span>
            </a>
        </div>
    </div>
</main>
   
</body>
</html>