<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Producao</title>
</head>
<body>
    <header class="headerInicial" id="myHeader">
        <nav>
            <ul>
                <li class="list liFormatation"><a href="http://localhost:3000">Inicio</a></li>
                
            </ul>
        </nav>
    </header>
    <script src="/js/script.js"></script>
</body>
</html>