<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="headerInicial" id="myHeader">
        <nav>
            <ul>
                <li class="list liFormatation"><a href="http://localhost:3000">Inicio</a></li>
                
            </ul>
        </nav>
    </header>
    <form action="/registro/save" method="post" class="formStyle">
        <h1>Cadastro de Produtos</h1>
        <div class="formProducts">
    <label for="product" id="productLabel">Selecione um produto</label>
    <select name="product" id="product" required class="selectStyle">
        <option value="Bastão 3D">Bastão 3D</option>
        <option value="Setas">Setas</option>
        <option value="Arco ">Arco</option>
        <option value="Plataforma Neon ">Plataforma Neon</option>
        <option value="Plataforma Neon Letreiro ">Plataforma Neon + Letreiro</option>
        <option value="Plataforma MDF ">Plataforma MDF</option>
        <option value="Plataforma Listrada ">Plataforma Listrada</option>
        <option value="Túnel ">Túnel led infinity</option>
        <option value="Cabine personalizada ">Cabine personalizada</option>
        <option value="Arco-seta ">Arco-seta</option>
        <option value="Produto11 ">Produto12</option>
    </select>
        </div>
        <div>
            <input class="forms" type="text" name="name" placeholder="Nome do produtor" required>
        </div>
        <div>
           
            <input class="forms" type="date" name="date" id="date" required>
        </div>
        <input id="submitButton" type="submit" value="Cadastrar">
    </form>
    <script src="/js/script.js"></script>
</body>
</html>