<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{titulo}}</title> <!-- Usar o título passado para o template -->
</head>
<body>
    <header class="headerInicial" id="myHeader">
        <nav>
            <ul>
                <li class="list liFormatation"><a href="/">Início</a></li>
           
            </ul>
        </nav>
    </header>

    {{{body}}} 

</body>
</html>